{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main content -->
    <section class="content" style="margin-top: 20px;">
        <h2 style="text-align: center">Welcome, EgzaminyOnline allows you to quickly and efficiently confirm your
            knowledge.</h2>
        <br /><br />
        <div class="row" style="align-content: center;">
            <div class="col-lg-3 col-lg-offset-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ numOfExams }}</h3>

                        <p>Number of exams you took part in</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-edit"></i>
                    </div>
                    <a href="{{ url('student:exams') }}" class="small-box-footer">Exams <i
                                class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ avgOfScores | number_format(2) }}%</h3>

                        <p>Average score of finished exams</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-list-outline"></i>
                    </div>
                    <a href="#" class="small-box-footer">Scores <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
